.component-container {
  //width: 1140px;
  height: 768px;
  .container {
    max-width: 100%;
  }
}

.body-container {
  padding: 140px;
  display: flex;
  flex-direction: row;
}

.brother-madrid-container {
  display: flex;
  flex-direction: column;
}

.br-min-con {
  display: flex;
  flex-direction: row;
}

.mad-arr-con {
  display: flex;
  flex-direction: row;
}
